{% import_yaml 'vpn/ipam.yml' as addresses %}
[Interface]
Address = {{ addresses['master'] }}/23
PrivateKey = {{ salt.file.read(key_file) }}
ListenPort = {{ wg_port }}

{% for peer, pubkey in salt.mine.get('*', 'salt_vpn.pubkey', exclude_minion=True).items() %}
[Peer]
PublicKey = {{ pubkey.strip() }}
AllowedIPs = {{ addresses[peer] }}/32
{% endfor %}
