{% import_yaml 'vpn/ipam.yml' as addresses %}
[Interface]
Address = {{ addresses[grains['id']] }}/23
PrivateKey = {{ salt.file.read(key_file) }}

[Peer]
PublicKey = {{ salt.mine.get('master', 'salt_vpn.pubkey')['master'].strip() }}
AllowedIPs = {{ addresses['master'] }}/32
Endpoint = master.doyoueven.click:{{ wg_port }}
{% if grains['id'] == 'mulholland' %}
  # This minion is behind a NAT, so we need periodic traffic to maintain
  #  the session state in case the master initiates a connection.
  # In the steady-state, this will not cause Wireguard to send traffic,
  #  as the Salt keepalives are more frequent, but this will let admins
  #  SSH in over the Salt VPN if the salt minion is down.
  PersistentKeepalive = 120
{% endif %}
